* {
  font-size: 16px;
  width: auto;
  height: auto;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

  body {
  margin: 0;
  padding: 0;
  }

   .container {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    justify-content: flex-end;
    gap: 10px;
  }

  .navigation {
    color: black;
  }
  
  .navigation ul {
    list-style: none;
  }
  
  .navigation ul li {
    color: black
  }

  .navigation ul li a {
    text-decoration: none;
    color: black;
  }
  
  .navigation ul li a::hover {
    color: blue;
  }

  .item {
    
  }

  h1 {}

}

